In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in file 
df = pd.read_csv('amazon_dataBooks.csv')
df.head()

,title,name,sellingPrice,listingPrice,typeOfBook,printLength,publicationDate,rating,reviews,availability
0,The Art of Statistics: Learning from Data (Pel...,David Spiegelhalter \n(Author),£10.11,RRP: £10.99,Paperback – 13 Feb. 2020,Print length 448 pages,Publication date 13 Feb. 2020,4.5 out of 5 stars,"3,615 ratings",In stock
1,"Data Scientist Coloring Book. A Funny, Unique,...",Witty Jobs Junior \n(Author),£6.85,NaN,"Paperback – Large Print, 30 July 2022",Print length 72 pages,Publication date 30 July 2022,4.5 out of 5 stars,2 ratings,In stock
2,Storytelling with Data: A Data Visualization G...,Cole Nussbaumer Knaflic \n(Author),£23.49,RRP: £32.95,Paperback – 20 Nov. 2015,Print length 288 pages,Publication date 20 Nov. 2015,4.6 out of 5 stars,"4,651 ratings",In stock
3,Data Analytics for Absolute Beginners: A Decon...,Oliver Theobald \n(Author),£11.79,NaN,Paperback – 21 July 2019,Print length 159 pages,Publication date 21 July 2019,4.3 out of 5 stars,464 ratings,In stock
4,"Becoming a Data Head: How to Think, Speak, and...","Alex J. Gutman \n(Author),",£23.09,RRP: £33.00,Paperback – 24 Jun. 2021,Print length 272 pages,Publication date 24 Jun. 2021,4.6 out of 5 stars,310 ratings,In stock

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            310 non-null    object
 1   name             300 non-null    object
 2   sellingPrice     239 non-null    object
 3   listingPrice     127 non-null    object
 4   typeOfBook       301 non-null    object
 5   printLength      233 non-null    object
 6   publicationDate  300 non-null    object
 7   rating           310 non-null    object
 8   reviews          260 non-null    object
 9   availability     309 non-null    object
dtypes: object(10)
memory usage: 24.3+ KB

In [4]:
# Reset index to start at 1
df.index +=1 # Increasing each index value by 1
df.head()

,title,name,sellingPrice,listingPrice,typeOfBook,printLength,publicationDate,rating,reviews,availability
1,The Art of Statistics: Learning from Data (Pel...,David Spiegelhalter \n(Author),£10.11,RRP: £10.99,Paperback – 13 Feb. 2020,Print length 448 pages,Publication date 13 Feb. 2020,4.5 out of 5 stars,"3,615 ratings",In stock
2,"Data Scientist Coloring Book. A Funny, Unique,...",Witty Jobs Junior \n(Author),£6.85,NaN,"Paperback – Large Print, 30 July 2022",Print length 72 pages,Publication date 30 July 2022,4.5 out of 5 stars,2 ratings,In stock
3,Storytelling with Data: A Data Visualization G...,Cole Nussbaumer Knaflic \n(Author),£23.49,RRP: £32.95,Paperback – 20 Nov. 2015,Print length 288 pages,Publication date 20 Nov. 2015,4.6 out of 5 stars,"4,651 ratings",In stock
4,Data Analytics for Absolute Beginners: A Decon...,Oliver Theobald \n(Author),£11.79,NaN,Paperback – 21 July 2019,Print length 159 pages,Publication date 21 July 2019,4.3 out of 5 stars,464 ratings,In stock
5,"Becoming a Data Head: How to Think, Speak, and...","Alex J. Gutman \n(Author),",£23.09,RRP: £33.00,Paperback – 24 Jun. 2021,Print length 272 pages,Publication date 24 Jun. 2021,4.6 out of 5 stars,310 ratings,In stock

### Renaming headers

In [5]:
df_new = df.rename(columns={'title': 'BookTitle', 
                            'name': 'AuthorName',
                            'sellingPrice': 'SellingPrice',
                            'listingPrice': 'ListingPrice',
                            'typeOfBook': 'TypeofBook',
                            'printLength': 'PrintLength',
                            'publicationDate': 'PublicationDate',
                            'rating': 'Rating',
                            'reviews': 'ReviewCount',
                            'availability': 'Availability'
                           })
df_new.head()

,BookTitle,AuthorName,SellingPrice,ListingPrice,TypeofBook,PrintLength,PublicationDate,Rating,ReviewCount,Availability
1,The Art of Statistics: Learning from Data (Pel...,David Spiegelhalter \n(Author),£10.11,RRP: £10.99,Paperback – 13 Feb. 2020,Print length 448 pages,Publication date 13 Feb. 2020,4.5 out of 5 stars,"3,615 ratings",In stock
2,"Data Scientist Coloring Book. A Funny, Unique,...",Witty Jobs Junior \n(Author),£6.85,NaN,"Paperback – Large Print, 30 July 2022",Print length 72 pages,Publication date 30 July 2022,4.5 out of 5 stars,2 ratings,In stock
3,Storytelling with Data: A Data Visualization G...,Cole Nussbaumer Knaflic \n(Author),£23.49,RRP: £32.95,Paperback – 20 Nov. 2015,Print length 288 pages,Publication date 20 Nov. 2015,4.6 out of 5 stars,"4,651 ratings",In stock
4,Data Analytics for Absolute Beginners: A Decon...,Oliver Theobald \n(Author),£11.79,NaN,Paperback – 21 July 2019,Print length 159 pages,Publication date 21 July 2019,4.3 out of 5 stars,464 ratings,In stock
5,"Becoming a Data Head: How to Think, Speak, and...","Alex J. Gutman \n(Author),",£23.09,RRP: £33.00,Paperback – 24 Jun. 2021,Print length 272 pages,Publication date 24 Jun. 2021,4.6 out of 5 stars,310 ratings,In stock

### Cleaning Attribute values

In [6]:
# Cleaning the AuthorName column by removing " \n(Author)"
df_new['AuthorName'] = df_new['AuthorName'].str.rstrip(' \n(Author),')

# Cleaning SellingPrice column by removing leading "£"
df_new['SellingPrice'] = df_new['SellingPrice'].str.strip('£')

# Cleaning ListingPrice column by removing leading "RRP: £ & Was: £"
df_new['ListingPrice'] = df_new['ListingPrice'].str.strip('RRP: £, Was: £')

# Cleaning PrintLength column by removing "Print length, pages" txt
df_new['PrintLength'] = df_new['PrintLength'].str.strip('Print length, pages')

# Cleaning ReviewCount column by removing the text "ratings" & commas
df_new['ReviewCount'] = df_new['ReviewCount'].str.strip('ratings')
df_new['ReviewCount'] = df_new['ReviewCount'].str.replace(',','')

# Cleaning PublicationDate column by removing leading "Publication date: " txt
df_new['PublicationDate'] = df_new['PublicationDate'].str.strip('Publication date')

# Removing the date and hyphen, keeping only the book type
df_new['TypeofBook'] = df_new['TypeofBook'].str.split('–').str[0].str.strip()

# Removing the "out of 5 stars" text from Rating column
df_new['Rating'] = df_new['Rating'].str.split('out').str[0].str.strip()

df_new.iloc[:10]

,BookTitle,AuthorName,SellingPrice,ListingPrice,TypeofBook,PrintLength,PublicationDate,Rating,ReviewCount,Availability
1,The Art of Statistics: Learning from Data (Pel...,David Spiegelhalte,10.11,10.99,Paperback,448,13 Feb. 2020,4.5,3615,In stock
2,"Data Scientist Coloring Book. A Funny, Unique,...",Witty Jobs Juni,6.85,NaN,Paperback,72,30 July 2022,4.5,2,In stock
3,Storytelling with Data: A Data Visualization G...,Cole Nussbaumer Knaflic,23.49,32.95,Paperback,288,20 Nov. 2015,4.6,4651,In stock
4,Data Analytics for Absolute Beginners: A Decon...,Oliver Theobald,11.79,NaN,Paperback,159,21 July 2019,4.3,464,In stock
5,"Becoming a Data Head: How to Think, Speak, and...",Alex J. Gutman,23.09,33.00,Paperback,272,24 Jun. 2021,4.6,310,In stock
6,How to Win the Premier League: The Inside Stor...,Ian Graham,16.99,22.00,Hardcover,320,15 Aug. 2024,Previous slide of product details,NaN,"This title will be released on August 15, 2024..."
7,Microsoft Power BI Data Analyst Certification ...,Orrin Edenfield,33.99,NaN,Paperback,398,24 Jun. 2022,4.0,44,In stock
8,AI & Data Literacy: Empowering Citizens of Dat...,Bill Schmarz,22.99,NaN,Paperback,202,9 Aug. 2023,4.6,33,In stock
9,Data Grab: The new Colonialism of Big Tech and...,Ulises A. Mejias,15.16,22.00,Hardcover,320,8 Feb. 2024,4.7,8,In stock
10,Engineers′ Data Book,Clifford Matthews,16.25,NaN,Paperback,344,27 Jan. 2012,4.6,176,In stock

### Replacing NaN values

In [7]:
# cehcking total NaN values for each column 
null_counts = df_new.isnull().sum()
print("\nNull counts:")
print(null_counts)

Null counts:
BookTitle            0
AuthorName          10
SellingPrice        71
ListingPrice       183
TypeofBook           9
PrintLength         77
PublicationDate     10
Rating               0
ReviewCount         50
Availability         1
dtype: int64

In [8]:
# Fill NaN values for each column based on the dict values
fill_values = {
    'AuthorName': 'Unknown',
    'SellingPrice': 0,
    'ListingPrice': 0,
    'TypeofBook': 'Unknown',
    'PrintLength': 0,
    'PublicationDate': 0,
    'ReviewCount': 0,
    'Availability': 'Unknown'
}

df_new.fillna(value=fill_values, inplace=True)

In [9]:
# cehcking total NaN values for each column 
null_counts = df_new.isnull().sum()
print("\nNull counts:")
print(null_counts)

Null counts:
BookTitle          0
AuthorName         0
SellingPrice       0
ListingPrice       0
TypeofBook         0
PrintLength        0
PublicationDate    0
Rating             0
ReviewCount        0
Availability       0
dtype: int64

### Changing dataTypes of each attribute

In [10]:
# Checking current dtypes for each attribute
print(df_new.dtypes)

BookTitle          object
AuthorName         object
SellingPrice       object
ListingPrice       object
TypeofBook         object
PrintLength        object
PublicationDate    object
Rating             object
ReviewCount        object
Availability       object
dtype: object

In [11]:
data_types = {
    'SellingPrice': float,
    'ListingPrice': float,
    'PrintLength': int,
    'ReviewCount': int
}
# Converting data types for specified columns
df_new = df_new.astype(data_types)

# Changing the pulication date column to a date type attribute
df_new['PublicationDate'] = pd.to_datetime(df_new['PublicationDate'])

In [12]:
# Converting non-numeric values in Rating column to NaN 
def to_float(value):
    try:
        return float(value)
    except ValueError:
        return np.nan
    
# Applying the function to the 'Rating' column
df_new['Rating'] = df_new['Rating'].apply(to_float)
# Fill NaN values with 0
df_new['Rating'] = df_new['Rating'].fillna(0)
# Concerting Rating column to float dtype
df_new['Rating'] = df_new['Rating'].astype(float)

In [13]:
# View changed dtypes for each attribute
print(df_new.dtypes)

BookTitle                  object
AuthorName                 object
SellingPrice              float64
ListingPrice              float64
TypeofBook                 object
PrintLength                 int32
PublicationDate    datetime64[ns]
Rating                    float64
ReviewCount                 int32
Availability               object
dtype: object

In [14]:
# Saving df to a csv file
df_new.to_csv("cleaned-data.csv", header=True, index=False)